/* Exercise 1 */

.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 0,5s;
}

.ex-1-square:hover{
    background-color: red;
}

/* Exercise 2 */

.ex-2-square{
    width: 100px;
    height: 100px;
    background: red;
    transition: 0,5s;
}

.ex-2-square:active{
    width: 100%;
}

/* Exercise 3 */

.ex-3-square{
    width: 100px;
    height: 100px;
    background: red;
    transition: 5s;
}

.ex-3-square:hover{
    border-radius: 100%;
}

/* Exercise 4 */

.ex-4-square{
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* Exercise 5 */

.ex-5-square{
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(3.5);
}

/* Exercise 6 */

.ex-6-img{
    width: 500px;
    transition: 1s;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Exercise 7 */

.ex-7-img{
    transition: 1s;
    width: 500px;
}
.ex-7-img:hover{
    filter: grayscale(.9) sepia(.8) brightness(.2);
}

/* Exercise 8 */

.ex-8-img{
    transition: 1s;
    width: 500px;
}

.ex-8-img:hover{
    filter: grayscale(.6) sepia(.4) brightness(.6);
    border-radius: 30px;
}

/* Exercise 9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}

.ex-9-img:hover{
    filter: grayscale(.6) sepia(.4) brightness(.6);
    border-radius: 40px;
    transform: scale(2.5);
}


/* Exercise 10 */

.ex-10-icon {
    font-size: 60px;
    animation: rotate 1s linear infinite;
}

@keyframes rotate{
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

/* Exercise 11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rotateOnHover 2s linear infinite;
}

@keyframes rotateOnHover{
    0% {
        transform: rotate(0);
    }
    80% {
        transform: rotate(280deg);
    }
    100% {
        transform: rotate(0);
    }
}

/* Exercise 12 */

.ex-12-icon {
    font-size: 60px;
}

.ex-12-button{
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white{
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white{
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Animation */

.ex-12-button:hover .ex-12-top-white {
    animation: movetopwhite 1s linear infinite;
}
@keyframes movetopwhite {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: movebotwhite 1s linear infinite;
}
@keyframes movebotwhite {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* Exercise 13 */

.ex-13-icon {
    font-size: 60px;
}

.ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* Animation */

.ex-13-button:hover .ex-13-top-white {
    animation: moveTopWhiteCompletely 1s linear infinite;
}
@keyframes moveTopWhiteCompletely {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}
.ex-13-button:hover .ex-13-bottom-white {
    animation: moveBottomWhiteCompletely 1s linear infinite;
}
@keyframes moveBottomWhiteCompletely {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}
